<%- include outBase.ejs %>

<h1>PANFLETO ELETRÔNICO</h1>

<h2>Acesse sua conta</h2>

<div class="w3layoutscontaineragileits">

    <% if (locals.error) { %>
	<div class="alert alert-danger">
		<strong>Atenção!</strong>
		<ul>
            <% Object.keys(error.message).forEach( function (idx) { %>
			<li>
                <%= error.message[idx] %>
			</li>
            <% }); %>
		</ul>
	</div>
    <% } %>

    <% if (locals.succezz) { %>
	<div class="alert alert-info">
		<ul>
            <% Object.keys(succezz.message).forEach(function (idx) { %>
			<li>
                <%= succezz.message[idx] %>
			</li>
            <% }); %>
		</ul>
	</div>
    <% } %>

	<form action='/login' method='post'>

		<input type="text" placeholder="Administrador" name="login" value='<%= data.login %>' required>
		<input type="password" placeholder="Senha" name="password" value='<%= data.password %>' required>

		<div class="row aitssendbuttonw3ls">

			<div class="col-md-6">
				<input type="submit" value="LOGIN">
			</div>

			<div class="col-md-6">
				<p><a href="/register">CADASTRAR<span></span></a></p>
			</div>

			<div  class="col-md-6">
				<p><a href="/pwdForgot">Esqueceu a senha?<span></span></a></p>
			</div>
		</div>

	</form>

</div>

<div class="w3footeragile">
	<p> Panfleto Eletrônico <a target="_blank"></a></p>
</div>
