<%- include outBase.ejs %>

<h1>PANFLETO ELETRÔNICO</h1>

<h2>Acesse sua conta</h2>
<div class="w3layoutscontaineragileits">

	<% if (locals.error) { %>
	<div class="alert alert-danger">
		<strong>Atenção!</strong>
		<ul>
			<li>
				<%= error.message %>
			</li>
		</ul>
	</div>
	<% } %>

	<% if (locals.success) { %>
	<div class="alert alert-info">
		<ul>
			<li>
				<%= success.message %>
			</li>
		</ul>
	</div>
	<% } %>

	<form action='/login' method='post'>

		<input type="text" Name="login" placeholder="Administrador" required="" value='<%= data.login %>'>
		<input type="password" Name="password" placeholder="Senha" required="" value='<%= data.password %>'>

		<div class="aitssendbuttonw3ls">
			<div>
				<input type="submit" value="LOGIN">
			</div>

			<div>
				<p><a href="/register">CADASTRAR<span>?</span></a></p>
			</div>
		</div>

	</form>
</div>

<div class="w3footeragile">
	<p> Panfleto Eletrônico <a target="_blank"></a></p>
</div>
