<%- include outBase.ejs %>

<h1>PANFLETO ELETRÔNICO</h1>

<h2>Acesse sua conta</h2>
<div class="w3layoutscontaineragileits">

    <% if (locals.error) { %>
	<div class="alert alert-danger">
		<strong>Atenção!</strong>
		<ul>
            <% Object.keys(locals.error.message).forEach( function (idx) { %>
			<li>
                <%= locals.error.message[idx] %>
			</li>
            <% }); %>
		</ul>
	</div>
    <% } %>

    <% if (locals.success) { %>
	<div class="alert alert-info">
		<ul>
            <% Object.keys(locals.success.message).forEach(function (idx) { %>
			<li>
                <%= locals.success.message[idx] %>
			</li>
            <% }); %>
		</ul>
	</div>
    <% } %>

	<form action='/login' method='post'>

		<input type="text" placeholder="Administrador" name="login" value='<%= data.login %>' required>
		<input type="password" placeholder="Senha" name="password" value='<%= data.password %>' required>

		<div class="aitssendbuttonw3ls">
			<div>
				<input type="submit" value="LOGIN">
			</div>

			<div>
				<p><a href="/register">CADASTRAR<span>→</span></a></p>
			</div>
		</div>

	</form>
</div>

<div class="w3footeragile">
	<p> Panfleto Eletrônico <a target="_blank"></a></p>
</div>
