<%- include outBase.ejs %>

<h1>Cadastro</h1>

<h2>Cadastre sua conta</h2>
<div class="w3layoutscontaineragileits">

    <% if (locals.error) { %>
	<div class="alert alert-danger">
		<strong>Atenção!</strong>
		<ul>
            <% Object.keys(error.message).forEach( function (idx) { %>
			<li>
                <%= error.message[idx] %>
			</li>
            <% }); %>
		</ul>
	</div>
    <% } %>

    <% if (locals.succezz) { %>
	<div class="alert alert-info">
		<ul>
            <% Object.keys(succezz.message).forEach(function (idx) { %>
			<li>
                <%= succezz.message[idx] %>
			</li>
            <% }); %>
		</ul>
	</div>
    <% } %>

	<form action='/register' method='post'>

		<div class='personalData'>
			<h3>Dados pessoais</h3>
			<input type="text" placeholder="Administrador" name="login" value='<%= data.login %>' required>
			<input type="text" placeholder="Empresa" name="company" value='<%= data.company %>' required>
			<input type="text" placeholder="Email" name="email" value='<%= data.email %>' required>
			<input type="password" placeholder="Senha" name="password" value='<%= data.password %>' required>
			<input type="password" placeholder="Repita a senha" name="passconf" value='<%= data.passconf %>' required>
		</div>

		<div class='addressData'>
			<h3>Endereço</h3>
			<input type="text" placeholder="Endereço"
				   name="address[street]" <% if (data.address) {%> value='<%= data.address.street %>' <% } %>
				   required
			>
			<input type="text" placeholder="Número"
				   name="address[number]" <% if (data.address) {%> value='<%= data.address.number %>' <% } %>
			>
			<input type="text" placeholder="Cidade"
				   name="address[city]" <% if (data.address) { %> value='<%= data.address.city %>' <% } %>
				   required
			>
			<input type="text" placeholder="Estado"
				   name="address[province]" <% if (data.address) { %> value='<%= data.address.province %>' <% } %>
				   required
			>
			<input type="text" placeholder="País"
				   name="address[country]" <% if (data.address) { %> value='<%= data.address.country %>' <% } %>
				   required
			>
			<input type="text" placeholder="CEP"
				   name="address[postalCode]" <% if (data.address) { %> value='<%= data.address.postalCode %>' <% } %>
			>
		</div>

		<div class='networkData'>
			<h3>Rede</h3>
			<% if (data.networks) { %>
			<% Object.keys(data.networks).forEach(function (i) { %>
			<input type="text" placeholder="Nome da rede" name="networks[][name]" value='<%= data.networks[i].name %>' required>
			<input type="password" placeholder="Senha da rede" name="networks[][password]" value='<%= data.networks[i].password %>' required>
			<% }) %>
			<% } else { %>
			<input type="text" placeholder="Nome da rede" name="networks[][name]" value='' required>
			<input type="password" placeholder="Senha da rede" name="networks[][password]" value='' required>
			<% } %>
		</div>

		<div class="aitssendbuttonw3ls">
			<div>
				<input type="submit" value="REGISTRAR">
			</div>

			<div>
				<p><a href="/login">CANCELAR<span>→</span></a></p>
			</div>
		</div>
	</form>
</div>

<div class="w3footeragile">
	<p> Panfleto Eletrônico <a target="_blank"></a></p>
</div>
